<h2>Payment Status</h2>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        Email
    </dt>
    <dd class="col-sm-10">
        {{receipt.email}}
    </dd>
    <dt class="col-sm-2">
        Payment Id
    </dt>
    <dd class="col-sm-10">
        {{receipt.paymentId}}
    </dd>
    <dt class="col-sm-2">
        Grand Total
    </dt>
    <dd class="col-sm-10">
        {{receipt.currency}} {{receipt.grandTotal}}
    </dd>
    <dt class="col-sm-2">
        Status
    </dt>
    <dd class="col-sm-10">
        {{receipt.status}}
    </dd>
</dl>