<h2>Our Courses</h2>
<hr/>
<div class="row">
    <div class="col-sm-4 mb-3" *ngFor="let item of catalogList">
        <div class="card">
            <img class="card-img-top" [src]="item.imageUrl">
            <div class="card-body">
                <h4 class="card-title">{{item.name}}</h4>
                <p class="card-text">{{item.summary}}</p>
                <p>
                    <span class="pt-1 d-inline-block"> Level: Beginner
                        <span class="badge bg-info">{{item.unitPrice}}</span>
                    </span>
                    <span class="float-end font-20">
                        <a href="javascript:void(0)"
                            (click)="AddToCart(item.id,item.name,item.unitPrice,1,item.imageUrl)"
                            class="btn btn-outline-primary">Add To Cart</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- toast -->
<div class="toast fade hide" data-autohide="false" id="toastCart">
    <div class="toast-header">
        <strong class="mr-auto text-primary">Notification</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">×</button>
    </div>
    <div class="toast-body" [innerHTML]="message"></div>
</div>